*{
    padding: 0;
    margin: 0;
}
header{
    padding: 0;
    margin: 0;
}
:root{
    --classic:#A378CF;
    --primary:#FFFFFF;
    --secondary:#000000;
    --main:#0EDEC5;
    --footer:#231337;
}
.navbar{
    padding: 2%;
    display: flex;
    justify-content: space-around;
    color: var(--secondary);
    position: sticky;
}
.navheader{
    font-size: x-large;
    font-weight: bolder;
    cursor: pointer;
}
.navheader:hover{
    color: var(--classic);
}
.navlist{
    display: flex;
    list-style: none;
    gap: 30px;
}
.navbotton{
    border: 2px solid var(--primary);
    border-radius: 5px;
    height: 30px;
    width: 100px;
    background-color: var(--classic);
}
.iterms{
    font-weight: bold;
    cursor: pointer;
}
.iterms:hover{
    color: var(--classic);
}
.navbotton:hover{
    border: 2px solid var(--main);
    color: var(--main);
}
/* Nav ends here */
/* second nav starts here */
.secondnavbar{   
    display: flex;
    justify-content: space-between;  
}
#navdiv{
    padding-top: 10%;
    border: 2px solid black;
    padding: 10%;
    display: flex;
    flex-direction: column;
    display: none;
}
.closing{
    text-align: center;
    cursor: pointer;
}
.closing:hover{
    color: var(--classic);
}
#navopenday{
    /* display: none; */
}
.secondnavlist{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 13%;
    padding-top:2%;
    gap: 2rem;
}
.secondnavheader{
    font-size: x-large;
    font-weight: bolder;
    cursor: pointer;
    
}
.navdivopen{
    display: flex;
    gap: 10%;
    padding-left: 5%;
}
.secondnavheader:hover{
    color: var(--classic);
}
.secondnavbotton{
    border-radius: 5px;
    height: 30px;
    width: 100px;
    background-color: var(--classic);
}
.secondnavbotton{
    border: 2px solid var(--main);
    color: var(--main);
}
.buttonAre{
    padding-top: 1%;
    padding-right: 5%;
}
/* main starts here */
main{
    margin: 0;
    padding: 0;
}
.first-main-section{
   background-color: var(--classic);
   display: grid;
   grid-template-columns: repeat(7,auto);
   grid-template-rows: repeat(3,auto);
   padding: 4%;
   gap: 3%;
   justify-content: space-between;
   align-content: center;
}
.sectionmaintext{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    gap: 8%;
}
.our-design-contect{
    font-size: 3rem;
    font-weight: bolder;
    color: var(--primary);
    cursor: pointer;
}
.our-design-contect:hover{
    color: var(--secondary);
}
.firstsectiontext{
    color: #FFFFFF;
    font-weight: bold;
}
.button-one-section{
    width: 150px;
    height: 100px;
    border: 2px solid var(--main);
    background-color: var(--main);
    border-radius: 5px;
    cursor: pointer;
}
.button-one-section:hover{
    color: var(--primary);
    border: 2px solid var(--primary);
}
#image-main{
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 10px;
    width: 350px;
     height: 300px;
}
.second-main-section{
    display: grid;
    grid-template-columns: repeat(7,auto);
    grid-template-rows: repeat(3,auto);
    padding: 3%;
    background-color: var(--footer);
}
.sectiontext{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    font-weight: bold;
    color:var(--classic);
}
.button-two-section{
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--classic);
    border: 2px solid var(--footer);
}
.button-two-section:hover{
    color: var(--primary);
    border: 2px solid var(--primary);
}
/* main ends here */
footer{padding: 0;
    margin: 0;
}
.footersection{
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(7,auto);
    grid-template-rows: repeat(3,auto);
    gap: 5%;
}
.footlist{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    gap: 1%;
    list-style-type: none;
}
.footeriterms{
    cursor: pointer;
    font-weight: bold;
    color: #231337;
}
.footeriterms:hover{
    color: var(--main);
}
hr{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-top: 1%;
    width: 91%;
}
.second-footersection{
    margin: 0;
    padding: 0;
}
.footer-second{
    color: var(--classic);
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding: 5%;
}
/* footer ends here */

/* media */
@media (max-width:621px) {
    .navbar{
        display: none;
    }
    .sectionmaintext{
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 2;
        padding-top: 6%;
        display: flex;
        flex-direction: column;
        gap: 8%;
    }
    #image-main{
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: 4;
        border-radius: 10px;
        width: 350px;
         height: 300px;
    }
    .sectiontext{
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .button-two-section{
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: 4;
    }
    .second-main-section{
        gap: 5%;
        padding: 3%;
    }
    .footersection{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1%;
    }
    .footlist{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(5,auto);
        gap: 5%;
    }
    #footeriterms1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #footeriterms2{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;  
    }
    #footeriterms3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;  
    }
    #footeriterms4{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
    }
    #footeriterms5{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    #footeriterms6{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    hr{
        display: none;
    }
}
@media (min-width:622px){
    .secondnavbar{
        display: none;
    }
}